/*Block Level Elements*/
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Roboto;
  background: #E9E9E9;
  color: #FAFAFA;
  font-size: 16px;
  text-indent: 0;
  padding: 0;
  margin: 0;
}

/*Selectors.. Classes/IDs*/
#container {
  display: block;
  /*background: #F5F5F5;*/
  height: 100%;
  width: 80%;
  margin: 1em;
  margin-top: 0;
  padding: .5em 1em .5em 1em;
}

#bar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  background: #795548;
  width: 100%;

  font-size: 1.25rem;
  margin: 0;
  padding: 1em;
  padding-bottom: 0;
}

#menu {
  width: 5em;
  margin-bottom: 0;
  padding-bottom: 0;
}

#categories {
  /*background: #795548;*/
  margin-bottom: 1em;
  padding-bottom: 0;
  font-weight: bold;
}

.category {
  /*background: #8D6E63;*/
  text-indent: .5em;
  font-weight: normal;
  margin-bottom: 0;
  padding-bottom: .2em;
}

.category:first-child {
  margin-top: .5em;
}

.category:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  /*background: #F00;*/
}

.hoverable:hover {
  cursor: pointer;
}

.category:hover {
  color: #FF5722;
}

.bar {
  display: block;
  background: #FF5722;
  color: #FAFAFA;
  padding: .25em;
  border: 1px solid #FF5722;
  border-radius: 4px;
  box-shadow: 1px 1px 5px #FF5722;
}

#jokes-container {
  display: inline-block;
  position: absolute;
  background: #F5F5F5;
  width: 40em;
  left: 1em;
  right: 1em;
  /*margin-right: 5%;*/
  /*justify-content: center;*/
  /*margin-left: 15%;*/
  /*top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);*/
  margin: auto;
  top: 3.5rem;
  padding: 0;
}

#jokes {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: .5em;
}

.joke {
  display: block;
  background: #FF5722;
  color: #FAFAFA;
  margin: 1em;
  padding: .25em;
  border: 1px solid #FF5722;
  border-radius: 4px;
  box-shadow: 1px 1px 5px #FF5722;
  overflow: auto;
}

.joke-text-container {
  display: inline-block;
  float: left;
  margin-top: 0;
  margin-left: 1em;
  width: -moz-calc(100% - 4.5em);
  width: -webkit-calc(100% - 4.5em);
  width: calc(100% - 4.5em);
}

.joke-text {
  display: inline-block;
  margin-top: 0;
  width: auto;
}

.star, .thumbUp, .thumbDown {
  height: 1.5em;
  width: 1.5em;
  fill: #FAFAFA;
}

.thumb-container {
  display: inline-block;
  float: left;
  width: 1.5em;
}

.thumbUp, .thumbDown {
  height: 1.5em;
  width: 1.5em;
}

.starred, .voted-down, .voted-up, .favorite {
  fill: #795548;
}

/*.favorite {
  color: #795548;
}*/

.star {
  display: inline-block;
  float: right;
}

.thumbUp:hover, .thumbDown:hover, .star:hover, .starred:hover {
  cursor: pointer;
  fill: rgba(121, 85, 72, .54);
}